body {
    background: url(./assets/spider.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.playlistArea::-webkit-scrollbar{
    display: none;
}